/node_modules
/public/hot
/public/storage
/storage/*.key
.env
config/database.php
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/modules/ckeditor/config.js
/public/uploads
/.git



